@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="newsTitleDisplay">
            <h2 id="newsTitleDisplay">News count</h2>
            <p>
                @ViewBag.newsCount
            </p>
            <p>
                <a class="btn btn-outline-dark" href="/news"> Start Reading &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="viewcount">
            <h2 id="viewcount">View count</h2>
            <p>
                @ViewBag.views
            </p>
            <p>
                <a class="btn btn-outline-dark" href="/news"> Start Reading &raquo;</a></p>
        </section>
    </div>
</main>