
@{
    ViewBag.Title = "submit";
}

<h2>submit a new article</h2>
<h3>what's new?'</h3>
<form>
    title: <input /> <br /><br />
    link: <input /> <br /><br />
    summary: <input /> <br /><br />
    content: <textarea> </textarea> <br /><br />
    <input type="submit" />
</form>
